// COLORS
$primary-color: #F0FF36;
$secondary-color: #fdc830;

$white-color: rgb(2, 1, 1);

$dark-grey: #FCFF36;

$dark-blue-text: #FFFFFF; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;